body{
   
    background-image:url(recifes.jpg); width:70%;
    image-rendering: auto;
    margin: 100px;
     height:70px;
       padding-right: 15px;
     border-width:10px;
     border-right: 50px #290d1e;
     padding-left:10px;
     animation-name:initial;
     animation-duration: 3s;
     color: aliceblue;
     text-align: justify;
}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #062949;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

 .projetos{
     
     text-decoration: double;
     font-stretch: condensed;
     text-align:center;
     font-size:20px;
     text-align:center;
     font-family:Jazz LET, fantasy; 
 }
 
 
 
 .titulo{
  
   background-repeat: no-repeat;
   width: 100%;
   }
   
 
     .inicial{
         text-align: center; 
         font-family: calibri; 
         background:rgb(51, 88, 184);
 
     }
     
    
 
  .principal{
    align-items: center;
     font-family: calibri; 
     text-align: center;
     font-size:20px;
     padding-top: 15px;
     padding-right:50px;
     border-width:50px;
     color: white;
     background-color: black;
  }
  .icone1{
    background-image: url(imagemtopo.jpg);
    animation-duration: 3s;
  animation-name: slidein;
  color:white;
  
 }
    
 
 @keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
 
  to {
    margin-left: 0%;
    width: 100%;
  }
 }
 

  
 .videogif
 {
       background-image: url(gif.gif);
       align-items: center;
       box-sizing: border-box;
       border-radius: 10px 15px 25px;
       width: 70%;
       background-color: aqua;
       padding-right: 200px;
        
 }
 
 
 
 
 .icone2{
    text-align: center;
    animation-duration: 3s;
  animation-name: slidein;
 }
 .icone3{
    text-align: center;
    animation-duration: 3s;
  animation-name: slidein;
 }
 
 @keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
 
  to {
    margin-left: 0%;
    width: 100%;
  }
 }
 
 
 .h{
  padding-bottom: 50px;
 }
 
 .formulario{
        background-color:#6bcde6;
        text-align: center;
        border-radius: 100px;
        color: #290d1e;
        
        

 }
 .Creditos{
 background-position: 100%;
 background-image: url(aquario.gif);
 text-align: center;
    align-items: center;
   border-radius: 300px;
     margin-left: 300px;
     padding-left: 100px;
    width:500px;
   animation-direction: alternate-reverse;
  color: rgb(7, 6, 4);
   text-align: left;
   text-size-adjust: 20px;

  

   }

   ul{
   list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #19558a;

    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    /* Change the link color to #111 (black) on hover */
    li a:hover {
      background-color: #7a2c2c;
    }
 }


.apresentacao{
  background-size: contain;
  background-image: url(perfil.jpg);
  background-repeat: no-repeat;
 padding: 100px 30px 100px 10px;
  background-color: rgb(102, 24, 117);
  background-position-x: center;
text-align: right;
font-family: cursive;
font-size: small;

}
   

.texto2{
  padding: 5px;
  float: right;
  background-color: rgb(46, 14, 5);
}



.subtitulo{
  background-color: #111;
}


.quemsou{
  color: #7a2c2c;
  font-family:cursive;
  text-align: right;
  background-color: #19558a;
}

.video{ position: left;
  text-align: justify;

}

.textovideo{
  float:right;
    max-width:500px;
    margin-left:10px;
    background-color: #062949;
    text-align: center;
}
.areaTexto{
    background-color: #062949;
    align-items: center;
    text-align: center;

}



